<?xml version="1.0"?>
<!-- 
    Not: Bu dosyayı elle düzenlemeye alternatif olarak da, ugulamanızın ayarlarını 
    yapılandırmak üzere web yöneticisi aracını kullanabilirsiniz. Visual Studio'da
    Web Sitesi->Asp.Net Yapılandırma seçeneğini kullanın.
    Ayarların ve açıklamaların tam listesini 
    machine.config.comments içinde bulabilirsiniz. Genellikle şu konumdadır: 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  
  <appSettings/>
  <connectionStrings>
    <clear/>
    <add name="TicariTaksiWebDB" connectionString="Data Source=Furkan\SQLEXPRESS;database=TicariTaksiWebDB; uid=test; pwd='furkan';"/>
  </connectionStrings>
    
  <system.web>
    <!-- 
        Derlenen sayfaya hata ayıklama sembolleri eklemek 
        compilation debug="true" ayarını kullanın. Bu performansı 
        etkilediğinden, bu değeri yalnızca geliştirme sırasında true 
        olarak ayarlayın.
    -->
    <compilation debug="true"/>
    <!--
      <authentication> bölümü, gelen bir kullanıcıyı tanımlamak için ASP.NET tarafından kullanılan 
      güvenlik kimlik doğrulama modunun 
      etkinleştirilmesine olanak verir. 
    -->
    <authentication mode="Windows"/>
    <!--
       <customErrors> bölümü, bir istek yürütülürken 
       işlenmemiş bir hata oluşursa/oluştuğunda 
       ne yapılacağını yapılandırmaya olanak verir. Özelliklede 
       geliştiricilerin, hata yığını izlemesi yerine 
       görüntülenecek html hata sayfalarını yapılandırmasına olanak verir.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
  </system.web>
</configuration>